<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="pojo.Address">
        <property name="address" value="二仙桥"/>
    </bean>


    <bean id="student" class="pojo.Student">

<!--        1.普通值 value-->
        <property name="name" value="quint"/>
<!--        2.Bean注入 ref-->
        <property name="address" ref="address"/>
<!--        3.数组-->
        <property name="books">
            <array>
                <value>百年孤独</value>
                <value>西游记</value>
                <value>三国演义</value>
            </array>
        </property>
<!--        4.List-->
        <property name="hobbys">
            <list>
                <value>listen music</value>
                <value>play computer game</value>
                <value>movie</value>
            </list>
        </property>
<!--        5.Map-->
        <property name="card">
            <map>
                <entry key="身份证" value="1213143153111231442"/>
                <entry key="银行卡" value="1421263252414241412"/>
                <entry key="手机号" value="15623214343"/>
            </map>
        </property>
<!--        6.Set-->
        <property name="games">
            <set>
                <value>LOL</value>
                <value>pubg</value>
                <value>天涯明月刀</value>
            </set>
        </property>
<!--        7.null值-->
        <property name="wife">
            <null/>
        </property>
<!--        8.info-->
        <property name="info">
            <props>
                <prop key="版权">Riot Game</prop>
                <prop key="代理">Tencent</prop>
            </props>
        </property>
    </bean>
</beans>